body {
    font-family: '{{fontFamily}}', 'Bebas Neue', sans-serif;
}

#reward_table {
    padding: 5px;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

.reward_row {
    padding: 5px;
    text-transform: uppercase;
    font-size: {{fontSize}}px;
    display: flex;
}

.reward_row > span:nth-of-type(2) {
    width: 100px;
    padding-left: 10px;
    padding-right: 25px;
}

.reward_text {
    width: 100%;
    padding-left: {{rewardTextPaddingLeft}}px;
}

.sub_goal {
    width: {{subGoalWidth}}px;
    padding-left: {{subGoalPaddingLeft}}px;
    float: left;
}

.text {
    font-weight: {{fontWeight}};
    color: {{fontColor}};
    text-transform: {{textTransform}};
    text-shadow: {{textShadow}};
}

.checkmark {
    visibility: hidden;
    font-size: smaller;
}